<div class="q-header">

</div>
<app-view>

</app-view>
<!--<nz-layout>-->
  <!--<nz-input-group nzSearch [nzSuffix]="suffixIconButton">-->
    <!--<input type="text" nz-input placeholder="输入.." [(ngModel)]="search" >-->
  <!--</nz-input-group>-->
  <!--<ng-template #suffixIconButton>-->
    <!--<button nz-button nzType="primary" nzSearch (click)="searchData()"><i nz-icon type="search"></i></button>-->
  <!--</ng-template>-->
  <!--<button (click)="proPlayerData()">getproPlayerData</button>-->
  <!--<button (click)="getheight()">获取页面高度</button>-->
<!--</nz-layout>-->

